<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="css/stylesheet" href="../../public/stylesheets/style.css"> -->
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../javascripts/userDash.js" defer></script>
    <title>Urban Clap Clone</title>

</head>

<body>
    <template id="temp">

    </template>
    <div class="container">
        <div class="outer">
            <h2 class="text-center" style="display:inline;">Welcome to Your profile</h2>
            <div id="logout" style="display: inline;float: right;cursor: pointer;">Logout</div>
            <br><hr>
            <div class="row">
                <div class="col-lg-3">
                    <button class="btn" id="profile">Get Profile</button>
                </div>
                <div class="col-lg-3">
                    <button class="btn" id="bookings">Display Bookings</button>
                </div>
                <div class="col-lg-3">
                    <button class="btn" id="services">Get Services</button>
                </div>
                <div class="col-lg-3">
                    <button class="btn" id="categories">Get Categories</button>
                </div>
            </div>

        </div>



        <div>
        <div id="results"style="display: inline;float:left; width:110%;margin-top:50px">

        </div>
        <div id="cat"style="display: inline;float:left; width:40%;margin-top:50px">

        </div>
        <div id="serv" style="display: inline; float: right; width:55%;margin-top:50px">

        </div>
    </div>
        <div class="container-fluid">
        
    
        <div class="modal fade" id="mymodal">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Update Profile</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        Name <input type="text" id="name"><br>
                        Address <input type="text" id="address">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="update"> Update</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"> Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="bookModal">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Book</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" id="hi">
                        <!-- <input type="text" id="vendor"> -->
                        <select id="vendor" onchange="showOptions(this)">
                            
                        </select>
                        <input type="number" placeholder="Qty" id="qty">
                        <input type="date" id="date">
                        <input type="time" id="time">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="book"> Book</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"> Close</button>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        
        
        
        
        
        
        
        
        
        </div>
        <!-- </div> -->
    </div>
</body>

</html>